body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
h2,
h3 {
  margin: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  padding: 24px 0;
}
.studio {
  color: #2e2f42;
}
.nav-list {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  position: relative;
}
.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.address-list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list:hover,
.address-list:focus {
  color: #404bbf;
}

.first {
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
}

section.first div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-heading {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  text-align: center;
}
.butt {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butt:hover,
.butt:focus {
  background-color: #404bbf;
  border: 1px solid red;
}
.second {
  padding: 120px 0;
}

.third-heading {
  /* text-align: center; */
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.second-section-list {
  display: flex;
  gap: 24px;
}
.second-section-list-point {
  width: calc((100% - 72px) / 4);
}
.section-list-point {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  /* text-align: center; */
}
.third {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.second-heading {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  height: 40px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.third-list {
  display: flex;
  gap: 24px;
  padding: 0;
}
.third-section-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.worker-name {
  padding: 32px 0;
}
.fourth {
  padding-top: 120px;
  padding-bottom: 120px;
}
.fourth-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  width: 1128px;
  height: 1000px;
}
.fourth-section-list-point {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-section-list-point:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-info-text {
  top: 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
}
.image-info {
  overflow: hidden;
  position: relative;
}
.image-info:hover .image-info-text {
  transform: translateY(0);
}
.app-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.foot {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-foot-web {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}
.logo-foot-studio {
  color: #f4f4fd;
}
.foot-sentence {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
footer div a {
  height: 21px;
}
footer div {
  display: block;
}
img {
  display: block;
}

.heading {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
div {
  display: flex;
  flex-direction: column;
}
section.heading div {
  display: flex;
  align-content: center;
  justify-content: center;
}
header div {
  justify-content: space-between;
  flex-direction: row;
}
.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  align-items: center;
}

nav ul li a {
  padding: 24px 0;
}
.menu {
  display: flex;
  gap: 40px;
}
.list-menu {
  padding: 24px 0;
}
.add-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}
section.fourth div {
  flex-direction: column;
}
section.third div.worker-name {
  flex-direction: column;
}
ul.social-icon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.advantages-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}
.social-icons-list-point {
  width: 40px;
  height: 40px;
}
.social-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #404bbf;
}
.social-icons {
  fill: #f4f4fd;
}
footer div.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.logo-paragraf-footer {
  margin-right: 120px;
}
.social-media-footer-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-icon-list-footer {
  display: flex;
  gap: 16px;
}
.social-icons-list-point-footer {
  width: 40px;
  height: 40px;
}
.social-icons-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-link-footer:hover,
.social-icons-link-footer:focus {
  background-color: #31d0aa;
}
.social-icons-footer {
  fill: #f4f4fd;
}
.studio-menu {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-menu::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
